.Home-container {
  height: 100vh;
  padding-top: 80px;
}

.Home-title {
  color: rgb(75, 86, 139);
  opacity: 0.6;
}

.description {
  margin-top: 20px;
  color: rgb(75, 86, 139);
  font-size: 40px;
  opacity: 0.6;
}

.HomePage-j {
  height: 300px;
  width: 300px;
  border-radius: 180%;
  margin-top: 20px;
  opacity: 0.7;
}


@media only screen and (max-width: 1000px) {
  .description {
    font-size: 25px;
  }

  .HomePage-j {
    height: 150px;
    width: 150px;
  }
}