.Home-container {
  background-position: top;
  height: 100vh;
}

.Home-title {
  float: left;
  color: rgb(174, 178, 199);
}

.description {
  float: left;
  margin-top: 3.5rem;
  color: rgb(174, 178, 199);
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  .description {
    margin-top: 1rem;
    font-size: 15px;
  }
}