.Login-container {
  text-align: center;
  height: 100vh;
  padding-top: 80px;
}

.login-signup-btn {
  width: 500px;
}

.signup-btn {
  margin-top: 20px;
}

.loading-message {
  color: rgb(174, 178, 199);
}
@media only screen and (max-width: 600px) {
  .login-signup-btn {
    width: 300px;
  }
}