.Login-container {
  text-align: center;
  background-image: url('./images/nav-bg.png');
  height: 100vh;
}

.login-signup-btn {
  width: 500px;
}

.signup-btn {
  margin-top: 20px;
}

.Login-blue-lines {
  width: 400px;
}

.loading-message {
  color: rgb(174, 178, 199);
}
@media only screen and (max-width: 600px) {
  .Login-blue-lines {
    width: 325px;
  }

  .login-signup-btn {
    width: 300px;
  }
}