.navbar {
  border-radius: 50px;
  border-bottom: 8px solid rgb(213, 224, 235);
  background-image: url('./images/nav-bg.png');
  opacity: 0.8;
  margin-bottom: 15px;
  margin-top: 1px;
}

.navbar-nav {
  font-size: 15px;
}

a.active {
  color: rgb(174, 178, 199);
}

a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 600px) {
  .navbar-nav {
    font-size: 10px;
  }
}


