.navbar {
  border-radius: 50px;
  border-bottom: 8px solid rgb(75, 86, 139);
  background-color: rgb(189, 209, 228);
  opacity: 0.8;
  margin-bottom: 15px;
}

.navbar-jobly {
  font-size: 23px;
  margin-right: 100px;
}

.NavBar-j {
  height: 40px;
  width: 40px;
}

.navbar-nav {
  font-size: 15px;
}

a.active {
  color: rgb(75, 86, 139);
}

a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 1000px) {
  .NavBar-j {
    height: 10px;
    width: 10px;
  }
  .navbar-jobly {
    font-size: 10px;
    margin-right: 0px;
  }
  .navbar-nav {
    font-size: 7.5px;
  }
}


