
nav {
  overflow: hidden;
  background-color: lightgray;
  text-align: left;
}

li {
  display: inline;
  margin: 17px;
}

a {
  text-decoration: none;

}

a.active {
  color: black;
}

a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 600px) {
  li {
    margin: 5px;
  }
}
