.Profile-container {
  background-color: rgb(213, 224, 235);
  border-radius: 50px;
  color: rgb(75, 86, 139);
}

.Profile-photo {
  border-radius: 180%;
}

.ProfileForm-button {
  margin-top: 20px;
  width: 100px;
  margin-bottom: 20px;
}

.Profile-input {
  width: 500px;
  border: none;
}

.input-group-text {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .Profile-input {
    width: 65%;
  }

  .input-group-text {
    margin-left: 0rem;
  }
}