.search-input {
  width: 500px;
  border: none;
  border-radius: 30px;
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 10px;
  text-align: center;
}

.search-btn {
  height: 40px;
}

@media only screen and (max-width: 1000px) {
  .search-input {
    width: 200px;
  }
}